@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Roboto Mono', monospace;

  --color-brand-primary: #4E6B2D;
  --color-brand-secondary: #3E5624;
  --color-dark-primary: #0A0A0A;
  --color-dark-secondary: #1A1A1A;
  --color-dark-tertiary: #2A2A2A;
  --color-light-primary: #F9FAFB;
  --color-light-secondary: #E5E7EB;

  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
